{% trans_default_domain 'BkstgTimelineBundle' %}

{# Widgets #}
{% block subject_component %}
{% spaceless %}
    {% set type = type|default('subject') %}

    {# If current user is subject alter value #}
    {% if app.user == action.subject.data %}
        {% set value = 'timeline.you'|trans|capitalize %}
    {% endif %}

    {{ block('action_component') }}
{% endspaceless %}
{% endblock subject_component %}

{% block verb_component %}
{% spaceless %}
    {% set type = type|default('verb') %}
    {% set text = action.verb %}
    {{ block('action_component') }}
{% endspaceless %}
{% endblock verb_component %}

{% block directComplement_component %}
{% spaceless %}
    {# If current user is subject alter value #}
    {% if app.user == action.getComponent('directComplement').data %}
        {% set value = 'timeline.you'|trans %}
    {% endif %}
    {% set type = type|default('directComplement') %}
    {{ block('action_component') }}
{% endspaceless %}
{% endblock directComplement_component %}

{% block indirectComplement_component %}
{% spaceless %}
    {% set type = type|default('indirectComplement') %}
    {{ block('action_component') }}
{% endspaceless %}
{% endblock indirectComplement_component %}

{% block action_component %}
{% spaceless %}
    {% if text|default(false) %}
        {% set value = value|default(text) %}
    {% endif %}
    <span {{ block('component_attributes') }}>{{ value }}</span>
{% endspaceless %}
{% endblock action_component %}

{# Support #}
{% block component_attributes %}
{% spaceless %}
    {% if type|default(false) %}
        {% set attrClass = attr.class|default('') %}
        {% set attr = (attr|default([]))|merge({ class: (attrClass ~ ' ' ~ type)|trim }) %}
    {% endif %}
    {% for attrname,attrvalue in attr %}{{attrname}}="{{attrvalue}}" {% endfor %}
{% endspaceless %}
{% endblock component_attributes %}
